<title>新增部门</title>
<div class="layui-form" lay-filter="department-add-form-add" id="department-add-form-add" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item" id="member-add-div-agent">
        <label class="layui-form-label">上级部门</label>
        <div class="layui-input-block">
            <select name="parent_id" lay-filter="member-add-select-agent">
                <option value="">请选择上级部门</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">部门名称</label>
        <div class="layui-input-block">
            <input type="text" name="dept_name" lay-verify="required" maxlength="16" placeholder="请输入部门名称" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" id="member-add-div-company">
        <label class="layui-form-label">部门经理</label>
        <div class="layui-input-block">
            <select name="manager_id" lay-filter="member-add-select-enterpriseid">
                <option value="">部门经理</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="department-add-submit-add" id="department-add-submit-add" value="确认添加">
        <input type="button" lay-submit lay-filter="department-add-edit-add" id="department-add-edit-add" value="确认编辑">
    </div>
</div>

<script>
    layui.use('department', layui.factory('department')).use(['index', 'form'], function () {
        var $ = layui.$,
            form = layui.form,
            admin = layui.admin,
            api = layui.api,
            layer = layui.layer,
            kdepartment = layui.department;
        //监听提交

        form.on('submit(department-add-submit-add)', function (data) {
            var field = data.field; //获取提交的字段
            //提交 Ajax 成功后，关闭当前弹层并重载表格
            admin.req({
                url: 'department/store',
                data: field,
                type: 'post',
                done: function done(res) {
                  let data = res.data;
                  data.name = data.dept_name;
                  kdepartment.addNode(data.parent_id, data);
                  layer.msg(res.msg, {
                      icon: 1,
                      time: 1000
                  }, function () {
                      layui.admin.INDEXS ? layui.layer.close(layui.admin.INDEXS) : layui.layer.closeAll('page');
                      layui.admin.INDEXS = null;
                  });
                }
            });
        });
        let departmentUrl = 'department/list';
        getDepartmentList(departmentUrl);
        function getDepartmentList(url) {
          $(".member-add-option-agent").remove();
          admin.req({
              url: url,
              type: 'get',
              done: function (res) {
                  var html = '';
                  $.each(res.data, function (it, item) {
                      html += '<option class="member-add-option-agent" value="' + item.id + '">' + item.name + '</option>';
                  });
                  $('select[name=parent_id]').find('option').after(html);
                  form.render('select');
              }
          });
        }

        let userUrl = 'user/list';
        getUserList(userUrl);
        function getUserList(url) {
          $(".member-add-option-manager").remove();
          admin.req({
              url: url,
              type: 'get',
              done: function (res) {
                  var html = '';
                  $.each(res.data, function (it, item) {
                      if (!item.manager_id) {
                        html += '<option class="member-add-option-manager" value="' + item.id + '">' + item.nickname + '</option>';
                      }
                  });
                  $('select[name=manager_id]').find('option').after(html);
                  form.render('select');
              }
          });
        }

    });

</script>
