<title>编辑部门</title>
<form class="layui-form" lay-filter="operator-update-form-update" id="operator-update-form-update"
      style="padding: 20px 30px 0 0;">
    <!-- <div class="layui-form" lay-filter="operator-update-form-update" id="operator-update-form-update" style="padding: 20px 30px 0 0;"> -->
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="layui-icon layui-icon-rate-solid"></i>坐席组名</label>
        <div class="layui-input-block">
            <input type="hidden" name="id">
            <input type="text" name="name" lay-verify="required" placeholder="请输入坐席组名" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">添加坐席</label>
        <div class="layui-input-block">
            <select name="optid" xm-select="operator-assignoindexgroup-select-1" lay-verify="operator-assignoindexgroup-select-1" xm-select-search="">
                <option value="">请选择坐席</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><i class="layui-icon layui-icon-rate-solid"></i>分配策略</label>
        <div class="layui-input-block">
            <select name="looptype" lay-verify="required">
                <option value="">请选择</option>
                <option value="1">最小服务时长优先</option>
                <option value="2">最少服务次数优先</option>
                <option value="3">最大服务间隔优先</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排队时长</label>
        <div class="layui-input-block">
            <input type="number" name="waitingtime" lay-verify="" placeholder="请输入排队时长，等待超时转至下一个坐席，默认30秒"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <input type="text" name="description" placeholder="请输入描述" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="operator-update-submit-update" id="operator-update-submit-update"
               value="确认添加">
        <input type="button" lay-submit lay-filter="operator-update-edit-update" id="operator-update-edit-update"
               value="确认编辑">
    </div>
    <script type="text/html" template lay-url="{{ layui.api.OperatorUpdate }}?id={{ d.params.id }}"
            lay-done="OperatorUpdate(d.data)"></script>
</form>
<script>
    function OperatorUpdate(d) {
        layui.use(['index', 'form','formSelects'], function () {
            var $ = layui.$,
                form = layui.form,
                api = layui.api,
                admin = layui.admin,
                formSelects = layui.formSelects,
                layer = layui.layer;
            //表单初始化
            form.val("operator-update-form-update", {
                "id": d.id,
                "name": d.name,
                "department": d.department,
                "looptype": d.looptype,
                "waitingtime": d.waitingtime,
                "description": d.description
            });

            //监听提交
            form.on('submit(operator-update-submit-update)', function (data) {
                var field = data.field; //获取提交的字段
                //提交 Ajax 成功后，关闭当前弹层并重载表格
                admin.req({
                    url: api.OperatorUpdate,
                    data: field,
                    type: 'post',
                    done: function (res) {
                        //登入成功的提示与跳转
                        layer.msg(res.msg, {
                            icon: 1,
                            time: 1000
                        }, function () {
                            layui.table.reload('operator-index-table-1',{
                                page: {
                                    curr: 1 //重新从第一页开始
                                },
                                method: 'post'
                            }); //重载表格
                            layui.admin.INDEXS ? layui.layer.close(layui.admin.INDEXS) : layui.layer.closeAll('page');
                            layui.admin.INDEXS = null;
                        });
                    }
                });
            });
            //获取下拉选择的坐席列表
            formSelects.data('operator-assignoindexgroup-select-1', 'server', {
                url: api.getAssignOperatorList+"?model=Operator&field=id as value,name&where=&optgroupid="+d.id+"&_="+ (new Date()).getTime() +"&access_token="+ layui.data(layui.setter.tableName).access_token,
                beforeSuccess: function (id, url, searchVal, result) {
                    if (result.data && result.data.length) {
                        result = result.data;
                    } else {
                        result = [];
                    }
                    return result;
                },
                success: function (id, url, searchVal, result) {
                }
            });
        });

    };

</script>
